* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  padding: 1rem;
  letter-spacing: 1px;
  background-color: #f7f6f9;
  color: #7b774e;
}
.main-container {
  margin: 1rem auto;
  display: flex;
  justify-content: start;
  align-items: baseline;
}
.btn,
.btn:active,
.btn:hover {
  border: none;
  background-color: #3b8855d6;
}
.icon {
  cursor: pointer;
}
.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 10px;
}
h1 {
  text-align: center;
}
.vehicle-form {
  margin: 1rem auto;
  width: 45%;
}
.modal-dialog .vehicle-form {
  width: 100%;
}
.submit-btn {
  margin-top: 1rem;
  letter-spacing: 1px;
}
.delete-btn {
  border: none;
  letter-spacing: 1px;
  color: white;
  background-color: darkred;
}
.vehicles-list-table-container {
  max-width: 100%;
  height: 500px;
  overflow: auto;
}
.vehicles-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.vehicles-list-title {
  margin-bottom: 1.2rem;
}
.vehicles-list-table,
.vehicles-list-table tr,
.vehicles-list-table th,
.vehicles-list-table td {
  padding: 5px 20px;
}
.vehicles-list-table {
  border-collapse: collapse;
  width: 100%;
}
.vehicles-list-table th,
.vehicles-list-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.vehicles-list-table tr:nth-child(even) {
  background: #ecebee;
}
.vehicles-list-header {
  position: sticky;
  top: 0;
  background: #ecebee;
}
@media screen and (max-width: 900px) {
  .vehicle-form,
  .vehicles-list,
  .main-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}